.item__ava {
    display: block;
    margin: auto;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 4px solid #f3f3f3;
}
.item {
    width: 17%;
    height: 24.375rem;
}
.item__title {
    text-align: center;
}
.item__paragraph {
    text-align: center;
}